<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843703019087-cifb907lksnr1jchd85uflqv7b3fvlas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843703019087-cifb907lksnr1jchd85uflqv7b3fvlas</string>
	<key>API_KEY</key>
	<string>AIzaSyAczXX_8YUw08GjaXK_xvWwbw-1IqRlxfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>843703019087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.besimsoft.natour21</string>
	<key>PROJECT_ID</key>
	<string>natour21-desdiv</string>
	<key>STORAGE_BUCKET</key>
	<string>natour21-desdiv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843703019087:ios:b15e9180a54da48df9ac3a</string>
</dict>
</plist>